


body {
    background-color: #fffddc;
    background-image: url(cool-background.png);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main p {
    font-family: 'Overlock', cursive;  
    font-size: 17px;
}

main h1{
    font-family: 'Overlock', cursive; 
}

.random-beer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    width: 1100px;
    height: 470px;
    background: white;
    border-radius: 40px;
    background-image: url(back2card.png);
    background-size: cover;
    box-shadow: 0 17px black;
    
    
}



p {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}

p:hover {
    color: rgb(59, 97, 99);
}

h2 {
   
    font-family: 'Overlock', cursive;
    text-align: center;
    color: black;
    
    
    
}

img {
    width: 200px;
    height: 330px;
    object-fit: contain;
}

.random-beer-btn {
    font-family: 'Overlock', cursive;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    text-align: center;
    color: #ffff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px white;
}

.random-beer-btn:hover {background-color: #2085e8;}

.random-beer-btn:active {
  background-color: #2085e8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Header*/



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-radius: 22px;
    
    
}

.logo-image{
    
    height: 80px;
}

.search-button{
    width: 70px;
    height: 80px;
   
    
}

.search-button:hover {
    background-color: none;
    outline: none;
    border-radius: 40px;
    text-decoration: none;
}

.search-button:active {
    border-radius: 40px;
    text-decoration: none;
    border: none;
    outline: none;
    background-color:none;
    color: white;
    box-shadow: 12px 12px 4px 2px rgba(0, 0, 20, 0.2);
    transform: translateY(4px);
  }

.search{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
    
}

/*footer*/

footer {
    display: flex;
    justify-content: center;
}

.social-links img{
    
height: 33px;
margin: 150px;
cursor: pointer;
}

.social-links{
    text-align: center;
}