body {
    background-color: #fffddc;
    background-image: url(cool-background.png);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-right: 3em;
}




form{
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10em;
       
}

ul{
    display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    list-style: none;
    background-image: url(back2card.png);
    background-size: cover;
    width: 500px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 20px 12px 2px 15px rgba(0, 0, 20, 0.2);
    border: solid black 2px;
    
}

ul li{
    font-family: 'Overlock', cursive;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    
}

.text{

    font-family: 'Overlock', cursive;
    border-radius: 30px;
    border: none;
    padding: 0;
    color: black;
    font-size: 20px;
    line-height: 40px;
    width: 700px;
    text-align: center;
    outline: none;
    box-shadow: 12px 12px 2px 8px rgba(0, 0, 20, 0.2);
    border: solid black 2px;

    
    
}

.submit{
    
   background-color: black;
    padding: 7px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    text-align: center;
    border: solid white 2px;
    border-radius: 30px;
    box-shadow: 12px 12px 2px 6px rgba(0, 0, 20, 0.2);
    
    
}

.next{
    font-family: 'Overlock', cursive;
    padding: 7px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    text-align: center;
    box-shadow: 12px 12px 4px 2px rgba(0, 0, 20, 0.2);
    border-radius: 15px;
    border: solid black 2px;
    
    
    

}

.prev{
    font-family: 'Overlock', cursive;
    padding: 7px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    border: solid black 2px;
    box-shadow: 12px 12px 4px 2px rgba(0, 0, 20, 0.2);
    
    
    
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-radius: 22px;
    
    
}

.logo-image{
    
    height: 70px;
}

.search-button{
    width: 60px;
    height: 60px;
   
    
}

.search{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    
}